{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/register/redefinirSenha.css' %}">
</head>

<body>
<div>
    <form class="form" action="{% url 'redefinirSenha' %}" method="POST">
        {% csrf_token %}

        <p class="title" style="color: #9dce63;">Esqueci a senha</p>
        <p class="message">Preencha os dados abaixo:</p>
        <div class="flex"></div>
        <label>
            <input class="input" type="text" placeholder="" name="log">
            <span>Novo Usuário:</span>
        </label>
        <label>
            <input class="input" type="password" placeholder="" name="logpass">
            <span>Nova Senha:</span>
        </label>

        <label>
            <input class="input" type="text" placeholder="" name="token">
            <span>Token:</span>
        </label>

     {% if messages %}
    {% for message in messages %}
        <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

        <button class="submit">Confirmar</button>
    </form>
</div>

</body>
</html>
