{% load static %}
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/register/registro.css' %}">
    <link rel="stylesheet" href="{% static 'css/register/modal.css' %}">
</head>
<body>
<div>
    <form class="form" action="{% url 'registro' %}" method="POST">
        {% csrf_token %}
        <p class="title">Registre-se!</p>
        <p class="message">Preencha os dados abaixo para completar o registro.</p>
        
        <div class="flex">
            <label class="flex-item">
                <input class="input" type="text" name="log" value="{{ form.log.value|default_if_none:'' }}">
                <span>Usuário:</span>
                {% if form.log.errors %}
                    <div class="text-danger">
                        {% for error in form.log.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </label>
            <label class="flex-item">
                <input class="input" type="password" name="logpass" id="logpass" value="{{ form.logpass.value|default_if_none:'' }}">
                <span>Senha:</span>
                <i class="toggle-password" onclick="togglePasswordVisibility()" style="cursor: pointer; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">🔓</i>
                {% if form.logpass.errors %}
                    <div class="text-danger">
                        {% for error in form.logpass.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </label>
        </div>
        
        <div class="flex">
            <label class="flex-item">
                <input class="input" type="text" name="first_name" value="{{ form.first_name.value|default_if_none:'' }}">
                <span>Primeiro Nome:</span>
                {% if form.first_name.errors %}
                    <div class="text-danger">
                        {% for error in form.first_name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </label>
            <label class="flex-item">
                <input class="input" type="text" name="last_name" value="{{ form.last_name.value|default_if_none:'' }}">
                <span>Ultimo Nome:</span>
                {% if form.last_name.errors %}
                    <div class="text-danger">
                        {% for error in form.last_name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </label>
        </div>
        
        <div class="flex">
            <label class="flex-item">
                <input class="input" type="text" name="telefone" value="{{ form.telefone.value|default_if_none:'' }}">
                <span>Telefone:</span>
                {% if form.telefone.errors %}
                    <div class="text-danger">
                        {% for error in form.telefone.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </label>
        </div>
        
        <div class="flex">
            <label class="flex-item">
                <input class="input" type="text" name="email" value="{{ form.email.value|default_if_none:'' }}">
                <span>Email:</span>
                {% if form.email.errors %}
                    <div class="text-danger">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </label>
        </div>
        
        <div class="flex">
            <label class="flex-item">
                <input class="input" type="text" name="cpf" value="{{ form.cpf.value|default_if_none:'' }}">
                <span>CPF:</span>
                {% if form.cpf.errors %}
                    <div class="text-danger">
                        {% for error in form.cpf.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </label>
        </div>

        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        
        <button class="submit" type="submit">Registrar</button>
        <p class="signin">Já possui uma conta? <a href="{% url 'log' %}">Entrar</a></p>
    </form>
</div>

<script src="{% static 'js/format.js' %}" defer></script>

<script src="{% static 'js/visibility.js' %}" defer></script>
</body>
</html>