{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'global/css/buscasFuncionario/dados_print.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>



{% for cadastro in object_list %}

      <div class="dados_cliente">

        <h1>Detalhes do Cadastro</h1>
         <hr/>


        <div class="apenasp_cliente">
        <h2>Dados da agência</h2>
        <p><strong>Nome de contato: </strong> {{ cadastro.nome_contato }}</p>
        <p><strong>Nome da agência: </strong> {{ cadastro.nome_fantasia }}</p>
        <p><strong>CNPJ: </strong> {{ cadastro.cnpj }}</p>

        {% if cadastro.email1 %}
        <p><strong>E-mail 1: </strong> {{ cadastro.email1 }}</p>
        {% endif %}

        {% if cadastro.email2 %}
        <p><strong>E-mail 2: </strong> {{ cadastro.email2 }}</p>
        {% endif %}

        {% if cadastro.email3 %}
        <p><strong>E-mail 3: </strong> {{ cadastro.email3 }}</p>
        {% endif %}

      {% if cadastro.telefone1 %}
        <p><strong>Telefone 1: </strong> {{ cadastro.telefone1 }}</p>
      {% endif %}

      {% if cadastro.telefone2 %}
        <p><strong>Telefone 2: </strong> {{ cadastro.telefone2 }}</p>
      {% endif %}

      {% if cadastro.telefone3 %}
        <p><strong>Telefone 3: </strong> {{ cadastro.telefone3 }}</p>
      {% endif %}

        <p><strong>Ano de contato: </strong> {{ cadastro.contato_ano }}</p>
        <p><strong>Bairro: </strong> {{ cadastro.bairro }}</p>
        <p><strong>Município: </strong> {{ cadastro.municipio }}</p>
        <p><strong>Estado: </strong> {{ cadastro.uf }}</p>
        <p><strong>Cep: </strong> {{ cadastro.cep }}</p>
        <p><strong>Logradouro: </strong> {{ cadastro.logradouro }}</p>
        <p><strong>Número: </strong> {{ cadastro.numero }}</p>
  
        {% if cadastro.observacao %}
        <p><strong>Observação: </strong> {{ cadastro.observacao }}</p>
        {% endif %}

        </div>

    <button class="btnvoltar"><a href="{% url 'ListagemAgencia' %}">Voltar</a></button>
{% endfor %}


</div>
</body>
</html>
