<!DOCTYPE html>
<html>
<head>
    <title>Vendas do Funcionário</title>
</head>
<body>
    <h1>Vendas de {{ funcionario.nome }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID Venda</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td><a href="{% url 'dadosVenda' venda.pk %}" class="text-decoration-none">{{ venda.id }}<a/></td>
                <td>{{ venda.data_venda }}</td>
                <td>{{ venda.valor }}</td>
                <td>{{ venda.cliente }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhuma venda encontrada para este funcionário.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'ListFuncionario' %}">Voltar para lista de funcionários</a>
</body>
</html>