{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'global/css/buscasFuncionario/dados_print.css' %}" rel="stylesheet" type="text/css"/>
</head>

<style>

  a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor do texto conforme o estilo do botão */
  }
  </style>

<body>



{% for cadastro in object_list %}

      <div class="dados_cliente">

        <h1>Detalhes do Cadastro</h1>
         <hr/>


        <div class="apenasp_cliente">
        <h2>Dados do cliente</h2>
        <p><strong>Nome: </strong> {{ cadastro.nome }}</p>
        <p><strong>CPF: </strong> {{ cadastro.cpf }}</p>
        
        {% if cadastro.rg %}
        <p><strong>RG: </strong> {{ cadastro.rg }}</p>
  {% endif %}

        <p><strong>Data de Nascimento: </strong> {{ cadastro.data_nascimento }}</p>
        <p><strong>Idade: </strong> {{ cadastro.idade }}</p>
      
        {% if cadastro.email1 %}
            <p><strong>E-mail 1: </strong> {{ cadastro.email1 }}</p>
         {% endif %}

         {% if cadastro.email2 %}
            <p><strong>E-mail 2: </strong> {{ cadastro.email2 }}</p>
         {% endif %}
      
      
        <p><strong>Sexo: </strong> {{ cadastro.get_sexo_display  }}</p>
       
        {% if cadastro.telefone1 %}
            <p><strong>Telefone 1: </strong> {{ cadastro.telefone1 }}</p>
         {% endif %}

        {% if cadastro.telefone2 %}
            <p><strong>Telefone 2: </strong> {{ cadastro.telefone2 }}</p>
         {% endif %}
       
         {% if cadastro.celular %}
        <p><strong>Telefone 3 : </strong> {{ cadastro.celular }}</p>
        {% endif %}


       {% if cadastro.num_passaporte %}
             <p><strong>Passaporte: </strong> {{ cadastro.num_passaporte }}</p>
        {% endif %}


         {% if cadastro.endereco %}
            <p><strong>Endereco: </strong> {{ cadastro.endereco }}</p>
         {% endif %}

         {% if cadastro.cidade %}
         <p><strong>Cidade: </strong> {{ cadastro.cidade }}</p>
    {% endif %}
         {% if cadastro.bairro %}
            <p><strong>Bairro: </strong> {{ cadastro.bairro }}</p>
         {% endif %}


        {% if cadastro.estado %}
            <p><strong>Estado: </strong> {{ cadastro.estado }}</p>
        {% endif %}


       {% if cadastro.cep %}
            <p><strong>Cep: </strong> {{ cadastro.cep }}</p>
       {% endif %}

       {% if cadastro.finished_at %}
          <p><strong>Finalizado em: </strong> {{ cadastro.finished_at }}</p>
       {% endif %}


       <h2>Anexos</h2>
       {% if cadastro.anexos.all %}
          
               {% for anexo in cadastro.anexos.all %}
                  
                       <a href="{{ anexo.arquivo.url }}" target="_blank">{{ anexo.arquivo.name }}</a>

                       <form action="{% url 'excluir_anexo' anexo.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este anexo?');">Excluir</button>
                    </form>
                    
                  <br>
               {% endfor %}
          
       {% else %}
           <p>Não há anexos disponíveis.</p>
       {% endif %}
       

        </div>

        <a href="{% url 'ListagemCliente' %}"><button class="btnvoltar">Voltar</button></a>


{% endfor %}


</div>
</body>
</html>