{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRAÇÃO</title>
    <link rel="stylesheet" href="{% static 'estilos/admin.css' %}">


    <style>
    #message-container {
        margin-top: 20px; 
        margin-bottom: 20px; 
        text-align: center; 
        position: relative; 
        z-index: 1; 
        padding: 10px; 
        
        background-color: #dcffd3; 
          border: 1px solid #000000; 
        width: 100%;
    }

    .alert {
        display: inline-block; 
        padding: 10px 20px;
        border-radius: 5px;
        
        color: #000000 !important;
    }
    
    
</style>

</head>

<body>

<header>
    <div class="logo">
        <h1>Administração</h1>
    </div>
    
     <div class="fixed-bottom d-flex justify-content-around">
    <a class="btn btn-success export-btn" href="{% url 'salvarVenda' %}">Exportar CSV - Lista de Vendas</a>
    <a class="btn btn-success export-btn" href="{% url 'salvarCliente' %}">Exportar CSV - Lista de Clientes</a>
</div>


    
    
    <div class="header-content">
        <div class="user-info">
            <span class="welcome-message">Bem-vindo, {{ usuario_logado.username }}</span>
            <ul class="user-details">
                <li class="detail-item">{{ usuario_logado.first_name }} {{ usuario_logado.last_name }}</li>
                <li class="detail-item">{{ usuario_logado.email }}</li>
            </ul>
        </div>
        <form action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="btn submit">Logout</button>
        </form>
    </div>

   
</header>

<br><br><br><br>

<main>
    <h2>Área do Administrador</h2>



    <section id="cards">
        <div class="card">
            <h2>CADASTRAR <br> CLIENTE</h2>
            <a href="{% url 'cadCliente' %}">
                <button>CADASTRAR</button>
            </a>
        </div>

        <div class="card">
            <h2>VER DADOS DE <br> CLIENTES</h2>
            <a href="{% url 'AdminListagemCliente' %}">
                <button>VIZUALIZAR</button>
            </a>
        </div>

        <div class="card">
            <h2>VER DADOS DE <br> FUNCIONÁRIOS</h2>
            <a href="{% url 'AdminListagemFuncionario' %}">
                <button>VERIFICAR</button>
            </a>
        </div>

        <div class="card">
            <h2>NOVA <br> VENDA</h2>
            <a href="{% url 'cadVendas' %}">
                <button>INICIAR</button>
            </a>
        </div>

        <div class="card">
            <h2>VIZUALIZAR <br> VENDA</h2>
            <a href="{% url 'AdminListagemVenda' %}">
                <button>VIZUALIZAR</button>
            </a>
        </div>

        <div class="card">
            <h2>VIZUALIZAR <br> RANKING</h2>
            <a href="{% url 'rank' %}">
                <button>VIZUALIZAR</button>
            </a>
        </div>
    </section>



     {% if messages %}
    <div id="message-container">
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

</main>

<script>
   setTimeout(function(){
       var messageContainer = document.getElementById('message-container');
       if (messageContainer) {
           messageContainer.style.display = 'none';
       }
   }, 5000);
</script>


</body>
</html>
