{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'estilos/dados_list.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
   <h1>Resultado da Pesquisa</h1>
    <div class="search-container">
        <div class="container">
            <form action="{% url 'procurarCliente' %}" method="GET" class="procurar-form">
                <input type="search" class="procurar-input" name="q" value="{{ procurar_termo }}" required>
                <button type="submit" class="procurar-button">
                     <i class="fas fa-search"></i><img style="height: 20px; width: 20px" src="{% static 'imagens/lupe.svg' %}" alt="Icone de lupa">
                </button>
            </form>
        </div>
    </div>

    <div class="main-content main-content-list container">
        {% if total_resultados > 0 %}
        <div class="results-count">
            <h2>Total de resultados: {{ total_resultados }}</h2>
        </div>
        {% endif %}

        <div id="tabelaRep">
            <table class="table">
                {% if total_resultados > 0 %}
                <thead>
                    <tr>
                        <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">bairro</th>

                <th scope="col">Ações</th>
                    </tr>
                </thead>
                {% endif %}

                {% for todo in object_list %}
                    {% include 'cadAdmin/buscasCliente/Resultados_procurarClientes.html' %}
                {% empty %}
                    <div class="center m-y">
                        <h1>Sem registros</h1>
                    </div>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="btnvoltar">
        <a href="{% url 'AdminListagemCliente' %}">Voltar</a>
    </div>
</body>
</html>
